<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Cybersecurity -->
      <package class="org.polarsys.capella.cybersecurity.model.CybersecurityPackage" genModel="models/Cybersecurity.genmodel" uri="http://www.polarsys.org/capella/cybersecurity/1.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Cybersecurity -->
      <parser class="org.polarsys.capella.cybersecurity.model.util.CybersecurityResourceFactoryImpl" type="cybersecurity"/>
   </extension>


<!--@generated-->
  <extension point="org.polarsys.capella.common.model.helpers.helper">
    <helperImpl class="org.polarsys.capella.cybersecurity.model.helpers.CybersecurityPackageHelper" nsURI="http://www.polarsys.org/capella/cybersecurity/1.0"/>
  </extension>
</plugin>
