<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2021 THALES GLOBAL SERVICES.
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0
    SPDX-License-Identifier: EPL-2.0
      
    Contributors:
       Thales - initial API and implementation
 -->
 
<plugin>
	<extension
	     point="org.eclipse.ui.views">
	  <view
	        name="Cybersecurity"
	        icon="icons/view.gif"
	        category="org.polarsys.kitalpha.view.category"
	        class="org.polarsys.kitalpha.ad.viewpoint.ui.views.ViewpointView"
	        id="org.polarsys.capella.cybersecurity.view"
	        resourceId="org.polarsys.capella.cybersecurity"/>
	</extension>
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="AF"
	        id="org.polarsys.capella.cybersecurity"
	        tags="vp"
	        name="Cybersecurity"
	        path="/org.polarsys.capella.cybersecurity.af/model/Cybersecurity.vp#_JbPscHb-Eemf77wXwnQxng"/>
	</extension>
	<extension 
	     point="org.eclipse.ui.propertiesView">
	 	<excludeSources
	    	id="org.polarsys.capella.cybersecurity.view">
	 	</excludeSources>
	</extension>
</plugin>

