<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2019 THALES GLOBAL SERVICES.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
      
    Contributors:
       Thales - initial API and implementation
 -->

<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.eclipse.sirius.diagram.ui">
			<propertyTab
				afterTab="top"
		        category="semantic &amp; extension"
		        id="cyber_ActorAttributes"
		        label="Cybersecurity">
		    </propertyTab>
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			
			<propertyTab
         		afterTab="top"
        		category="default"
         		id="cyber_ActorAttributes"
         		label="Cybersecurity">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.sirius.diagram.ui">
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityNeedsSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityNeedsSection"
           id="cybersecurity.SecurityNeedsSection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$AbstractFunctionSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$AbstractFunctionSection"
           id="abstractFunctionPrimaryAssetInverse"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$ExchangeItemSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$ExchangeItemSection"
           id="exchangeItemPrimaryAssetInverse"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionCybersecuritySection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionCybersecuritySection"
           id="cybersecurity.FunctionCybersecuritySection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.InformationPrimaryAssetSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.InformationPrimaryAssetSection"
           id="cybersecurity.InformationPrimaryAssetSection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionalPrimaryAssetSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionalPrimaryAssetSection"
           id="cybersecurity.FunctionalPrimaryAssetSection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.ThreatSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.ThreatSection"
           id="cybersecurity.ThreatSection"
           tab="cyber_ActorAttributes">
     </propertySection>
			<propertySection
         class="org.polarsys.capella.cybersecurity.ui.properties.sections.ActorCybersecuritySection"
         filter="org.polarsys.capella.cybersecurity.ui.properties.sections.ActorCybersecuritySection"
         id="cybersecurity.ActorSection"
         tab="cyber_ActorAttributes">
		    </propertySection>
   <propertySection
         class="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityAwareNamedElementSection"
         filter="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityAwareNamedElementSection"
         id="cybersecurity.NamedElementSection"
         tab="cyber_ActorAttributes">
   </propertySection> 
		    </propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityNeedsSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityNeedsSection"
           id="cybersecurity.SecurityNeeds"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$AbstractFunctionSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$AbstractFunctionSection"
           id="cybersecurity.primaryAssetInverseFunction"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$ExchangeItemSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.PrimaryAssetInverseMember$ExchangeItemSection"
           id="cybersecurity.PrimaryAssetInverseExchangeItem"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionCybersecuritySection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionCybersecuritySection"
           id="cybersecurity.FunctionCybersecuritySection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.InformationPrimaryAssetSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.InformationPrimaryAssetSection"
           id="cybersecurity.InformationPrimaryAssetSection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionalPrimaryAssetSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.FunctionalPrimaryAssetSection"
           id="cybersecurity.FunctionalPrimaryAssetSection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.ThreatSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.ThreatSection"
           id="cybersecurity.ThreatSection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.ActorCybersecuritySection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.ActorCybersecuritySection"
           id="cybersecurity.ActorSection"
           tab="cyber_ActorAttributes">
     </propertySection>
     <propertySection
           class="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityAwareNamedElementSection"
           filter="org.polarsys.capella.cybersecurity.ui.properties.sections.SecurityAwareNamedElementSection"
           id="cybersecurity.NamedElementSection"
           tab="cyber_ActorAttributes">
     </propertySection>
		    </propertySections>
</extension>
<extension
      point="org.eclipse.amalgam.explorer.activity.ui.sectionsProvider">
   <Section
         expanded="true"
         filtering="true"
         id="org.polarsys.capella.cybersecurity.ui.activity.category_systemarchitecture"
         index="0"
         name="%categorySystemArchitecture"
         pageId="org.polarsys.capella.core.explorer.activity.ui.page.physical.architecture">
      <Activity
            class="org.polarsys.capella.cybersecurity.ui.activity.CreateCyberPABDiagramHyperlink"
            id="org.polarsys.capella.cybersecurity.ui.activity.systemarchitecture1"
            index="0"
            name="%createSystemArchitecture">
      </Activity>
      <Activity
            class="org.polarsys.capella.core.explorer.activity.ui.hyperlinkadapter.pa.NewExchangeScenarioAdapter"
            id="org.polarsys.capella.cybersecurity.ui.activity.scenario1"
            index="1"
            name="%createScenario">
      </Activity>
      <Activity
            class="org.polarsys.capella.core.explorer.activity.ui.hyperlinkadapter.pa.NewBlankFunctionalDataflowDiagramAdapter"
            id="org.polarsys.capella.cybersecurity.ui.activity.dataflow"
            index="2"
            name="%createDataflow">
      </Activity>
   </Section>
   <Section
         expanded="true"
         filtering="true"
         id="org.polarsys.capella.cybersecurity.ui.activity.category_systemboundaries"
         index="1"
         name="%categorySystemBoundariesAndAssets"
         pageId="org.polarsys.capella.core.explorer.activity.ui.page.physical.architecture">
      <Activity
            class="org.polarsys.capella.cybersecurity.ui.activity.CreateCyberPABDiagramHyperlink"
            id="org.polarsys.capella.cybersecurity.ui.activity.systemarchitecture2"
            index="0"
            name="%createSystemArchitecture">
      </Activity>
      <Activity
            class="org.polarsys.capella.core.explorer.activity.ui.hyperlinkadapter.pa.NewClassDiagramAdapter"
            id="org.polarsys.capella.cybersecurity.ui.activity.informationasset"
            index="1"
            name="%createInformationAsset">
      </Activity>
   </Section>
   <Section
         expanded="true"
         filtering="true"
         id="org.polarsys.capella.cybersecurity.ui.activity.category_threats"
         index="2"
         name="%categoryThreatsAndThreatSources"
         pageId="org.polarsys.capella.core.explorer.activity.ui.page.physical.architecture">
      <Activity
            class="org.polarsys.capella.cybersecurity.ui.activity.CreateThreatDiagramHyperlink"
            id="org.polarsys.capella.cybersecurity.ui.activity.threat"
            index="1"
            name="%createThreat">
      </Activity>
      <Activity
            class="org.polarsys.capella.core.explorer.activity.ui.hyperlinkadapter.pa.NewExchangeScenarioAdapter"
            id="org.polarsys.capella.cybersecurity.ui.activity.scenario2"
            index="1"
            name="%createScenario">
      </Activity>
   </Section>
</extension>
<extension
      point="org.eclipse.ui.newWizards">
   <wizard
         category="org.polarsys.capella.wizards"
         class="org.polarsys.capella.cybersecurity.ui.CybersecurityProjectWizard"
         finalPerspective="capella.sirius.perspective"
         id="capella.cybersecurity.wizard"
         name="%newCyberProjectWizard"
         project="true">
      <description>
         %newCyberProjectWizard_desc
      </description>
   </wizard>
</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="capella.sirius.perspective">
      <newWizardShortcut
            id="capella.cybersecurity.wizard">
      </newWizardShortcut>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.ui.navigator.navigatorContent">
   <commonWizard
         menuGroupId="all-categorized-capella"
         type="new"
         wizardId="capella.cybersecurity.wizard">
      <enablement></enablement>
   </commonWizard>
</extension>
<extension
      point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderCategory">
   <category
         id="Threat__ThreatenedPrimaryAssets"
         isTopLevel="true"
         name="Threatened Primary Assets">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.Threat">
      </availableForType>
      <targetBrowserId
            id="ReferencedElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Threat__ThreatenedPrimaryAssets">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Threat__InvolvedThreatSources"
         isTopLevel="true"
         name="Involved Threat Sources">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.Threat">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Threat__InvolvedThreatSources">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Threat__InvolvedActors"
         isTopLevel="true"
         name="Involved Actors">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.Threat">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Threat__InvolvedActors">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Threat__ThreatenedComponents"
         isTopLevel="true"
         name="Threatened Components">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.Threat">
      </availableForType>
      <targetBrowserId
            id="ReferencedElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Threat__ThreatenedComponents">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Component__InvolvingThreats"
         isTopLevel="true"
         name="Involving Threats">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Component__InvolvingThreats">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="ThreatSource__ThreatenedComponents"
         isTopLevel="true"
         name="Threatened Components">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="ReferencedElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$ThreatSource__ThreatenedComponents">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Component__TrustBoundaries"
         isTopLevel="true"
         name="Trust Boundaries">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Component__TrustBoundaries">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="PrimaryAsset__Threats"
         isTopLevel="true"
         name="Threatened by">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.PrimaryAsset">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$PrimaryAsset__Threats">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="InformationPrimaryAssets__ExchangeItems"
         isTopLevel="true"
         name="Exchange Items">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.InformationPrimaryAsset">
      </availableForType>
      <targetBrowserId
            id="ReferencedElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$InformationPrimaryAsset__ExchangeItems">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="FunctionalPrimaryAsset__Functions"
         isTopLevel="true"
         name="Functions">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.FunctionalPrimaryAsset">
      </availableForType>
      <targetBrowserId
            id="ReferencedElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$FunctionalPrimaryAsset__Functions">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="FunctionalPrimaryAsset__FunctionalExchanges"
         isTopLevel="true"
         name="Functional Exchanges">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.FunctionalPrimaryAsset">
      </availableForType>
      <targetBrowserId
            id="ReferencedElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$FunctionalPrimaryAsset__FunctionalExchanges">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="FunctionalPrimaryAsset__SupportingComponents"
         isTopLevel="true"
         name="Supporting Components">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.FunctionalPrimaryAsset">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$FunctionalPrimaryAsset__SupportingComponents">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="InformationPrimaryAsset__SupportingComponents"
         isTopLevel="true"
         name="Supporting Components">
      <availableForType
            class="org.polarsys.capella.cybersecurity.model.InformationPrimaryAsset">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$InformationPrimaryAsset__SupportingComponents">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="FunctionalExchange__SupportingComponents"
         isTopLevel="true"
         name="Supporting Components">
      <availableForType
            class="org.polarsys.capella.core.data.fa.FunctionalExchange">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$FunctionalExchange__SupportingComponents">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="ExchangeItem__SupportingComponents"
         isTopLevel="true"
         name="Supporting Components">
      <availableForType
            class="org.polarsys.capella.core.data.information.ExchangeItem">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$ExchangeItem__SupportingComponents">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="AbstractFunction__ExchangeItems"
         isTopLevel="true"
         name="Exchange Items">
      <availableForType
            class="org.polarsys.capella.core.data.fa.AbstractFunction">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$AbstractFunction__ExchangeItems">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="AbstractFunction__FunctionalPrimaryAssets"
         isTopLevel="true"
         name="Functional Primary Assets">
      <availableForType
            class="org.polarsys.capella.core.data.fa.AbstractFunction">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$AbstractFunction__FunctionalPrimaryAssets">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="AbstractFunction__InformationPrimaryAssets"
         isTopLevel="true"
         name="Information Primary Assets">
      <availableForType
            class="org.polarsys.capella.core.data.fa.AbstractFunction">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$AbstractFunction__InformationPrimaryAssets">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="FunctionalExchange"
         isTopLevel="true"
         name="Information Primary Assets">
      <availableForType
            class="org.polarsys.capella.core.data.fa.FunctionalExchange">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$FunctionalExchange__InformationPrimaryAssets">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="FunctionalExchange__TrustBoundaries"
         isTopLevel="true"
         name="Trust Boundaries">
      <availableForType
            class="org.polarsys.capella.core.data.fa.FunctionalExchange">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$FunctionalExchange__TrustBoundaries">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="ExchangeItem__PrimaryAssets"
         isTopLevel="true"
         name="Primary Assets">
      <availableForType
            class="org.polarsys.capella.core.data.information.ExchangeItem">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$ExchangeItem__PrimaryAssets">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Component__SupportedInformationAssets"
         isTopLevel="true"
         name="Supported Information Primary Assets">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Component__SupportedInformationPrimaryAssets">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Component__SupportedFunctionalAssets"
         isTopLevel="true"
         name="Supported Functional Primary Assets">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Component__SupportedFunctionalPrimaryAssets">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Component__ThreateningThreats"
         isTopLevel="true"
         name="Threatening Threats">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Component__ThreateningThreats">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Component__ThreateningThreatSources"
         isTopLevel="true"
         name="Threatening Threat Sources">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="ReferencingElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Component__ThreateningThreatSources">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="Component__MaxCIAT"
         isTopLevel="true"
         name="Maximal CIAT Security Need Levels">
      <availableForType
            class="org.polarsys.capella.core.data.cs.Component">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$Component__MaxCIAT">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="ComponentExchange__InformationPrimaryAsset"
         isTopLevel="true"
         name="Supported Primary Assets">
      <availableForType
            class="org.polarsys.capella.core.data.fa.ComponentExchange">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$ComponentExchange__InformationPrimaryAsset">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="ComponentExchange__TrustBoundary"
         isTopLevel="true"
         name="Is Trust Boundary">
      <availableForType
            class="org.polarsys.capella.core.data.fa.ComponentExchange">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$ComponentExchange__TrustBoundary">
         </basicQuery>
      </categoryQuery>
   </category>
   <category
         id="ComponentExchange__ExchangeItems"
         isTopLevel="true"
         name="Exchange Items">
      <availableForType
            class="org.polarsys.capella.core.data.fa.ComponentExchange">
      </availableForType>
      <targetBrowserId
            id="CurrentElementBrowser">
      </targetBrowserId>
      <categoryQuery>
         <basicQuery
               class="org.polarsys.capella.cybersecurity.model.CybersecurityQueries$ComponentExchange__ExchangeItems">
         </basicQuery>
      </categoryQuery>
   </category>
</extension>
<extension
      point="org.polarsys.kitalpha.massactions.core.columnfilter">
   <columnFilter
         class="org.polarsys.capella.cybersecurity.ui.massactions.filters.PrimaryAssetsAndThreatsFilter"
         displayName="Primary Assets and Threats">
   </columnFilter>
   <columnFilter
         class="org.polarsys.capella.cybersecurity.ui.massactions.filters.PrimaryAssetsAndArchitectureFilter"
         displayName="Primary Assets and Architecture">
   </columnFilter>
   <columnFilter
         class="org.polarsys.capella.cybersecurity.ui.massactions.filters.ThreatsFilter"
         displayName="Threats">
   </columnFilter>
</extension>
<extension
      point="org.polarsys.kitalpha.massactions.core.columnprovider">
   <columnProvider
         class="org.polarsys.capella.cybersecurity.ui.massactions.providers.PrimaryAssetColumnProvider"
         kind="visualization">
   </columnProvider>
   <columnProvider
         class="org.polarsys.capella.cybersecurity.ui.massactions.providers.ThreatColumnProvider"
         kind="visualization">
   </columnProvider>
   <columnProvider
         class="org.polarsys.capella.cybersecurity.ui.massactions.providers.SecurityNeedsColumnProvider"
         kind="editing">
   </columnProvider>
</extension>
</plugin>
