<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="capella.category/cybersecurity"
            name="Cybersecurity">
      </category>
      <category
            id="capella.category/cybersecurity/design"
            name="Design">
      </category>
      <category
            id="capella.category/cybersecurity/design/coverage"
            name="Coverage">
      </category>
      <category
            id="capella.category/cybersecurity/design/consistency"
            name="Consistency">
      </category>
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/cybersecurity/1.0">
         </package>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/core/5.0.0">
         </package>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/cs/5.0.0">
         </package>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/fa/5.0.0">
         </package>
         <constraints
               categories="capella.category/cybersecurity/design/coverage">
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.coverage.CY_DCOV_01_ThreatSourceWithoutThreat"
                  id="CY_DCOV_01"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCOV_01 - Threat Source without Threat"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1}has no related Threats.
               </message>
               <target
                     class="Component">
               </target>
               <description>
                  Verifies that a Threat Source is involved by at least one Threat.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.coverage.CY_DCOV_02_NoThreatSourceOrActor"
                  id="CY_DCOV_02"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCOV_02 - Threat without Threat Source/Actor"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1}does not involve any Actor/Threat Source.
               </message>
               <target
                     class="Threat">
               </target>
               <description>
                  Verifies that a threat involves at least one Actor/Threat Source.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.coverage.CY_DCOV_03_ThreadWithoutAsset"
                  id="CY_DCOV_03"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCOV_03 - Threat without asset"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1}does not threaten any assets.
               </message>
               <target
                     class="Threat">
               </target>
               <description>
                  Verifies that a Threat threatens at least one asset.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.coverage.CY_DCOV_04_PrimaryAssetWithoutThread"
                  id="CY_DCOV_04"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCOV_04 - Primary Asset without Threat"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1}is not threatened by any Threat.
               </message>
               <target
                     class="PrimaryAsset">
               </target>
               <description>
                  Verifies that a Primary Asset is threatened by at least one Threat.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.coverage.CY_DCOV_05_InformationPrimaryAssetNotHandled"
                  id="CY_DCOV_05"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCOV_05 - Unhandled Information Primary Asset"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1}includes Exchange Items that are not allocated by any Functional Exchange/Function.
               </message>
               <target
                     class="InformationPrimaryAsset">
               </target>
               <description>
                  Verifies that all Exchange Items of an Information Primary Asset are used at least once by a Function or Functional Exchange.
               </description>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/cybersecurity/design/consistency">
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.consistency.CY_DCON_01_FunctionalExchangeNeedsConsistency"
                  id="CY_DCON_01"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCON_01 - Functional Exchange Security Needs Consistency"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1}SecurityNeeds is not consistent with those of its allocated Exchange Items.
               </message>
               <target
                     class="FunctionalExchange">
               </target>
               <description>
                  Verifies that the SecurityNeeds of a Functional Exchange are at least as high as each of its allocated Exchange Items.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.consistency.CY_DCON_02_ComponentExchangeSecurityNeedsConsistency"
                  id="CY_DCON_02"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCON_02 - Component Exchange Security Needs Consistency"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1}SecurityNeeds is not consistent with those of its allocated Functional Exchanges.
               </message>
               <target
                     class="ComponentExchange">
               </target>
               <description>
                  Verifies that the SecurityNeeds of a ComponentExchange are at least as high as each of its allocated Functional Exchanges.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.cybersecurity.validation.design.consistency.CY_DCON_03_ThreatOrAsset_Realization"
                  id="CY_DCON_03"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CY_DCON_03 - Threat or Primary Asset Realization check"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  {0} {1} is not realized by any {2} at {3} level.
               </message>
               <target
                     class="NamedElement">
               </target>
               <description>
                   This rule checks that Threats or Primary Assets are realized
               </description>
            </constraint>            
         </constraints>
      </constraintProvider>
   </extension>
</plugin>