<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.polarsys.capella.core.platform.sirius.ui.perspective.id"
            description="%cybersecurity_ProductDescription"
            name="Eclipse Capella DARC">
         <property name="appName" value="Eclipse Capella DARC"/>
         <property
               name="aboutImage"
               value="icons/CapellaAbout.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="windowImages"
               value="icons/Capella16x16.png,icons/Capella32x32.png,icons/Capella48x48.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property name="introTitle" value="%productIntroTitle"/>
         <property name="introBrandingImage" value="product:icons/intro-capella.png"/>
         <property name="introBrandingImageText" value="%productIntroBrandingText"/>
         <property name="introDescription-firststeps" value="%introDescription-firststeps"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.accelerator"
            pattern=".*\.initialization\.from\.existing\.diagram">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.accelerator"
            pattern=".*\.elements\.from\.scenario">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.accelerator"
            pattern=".*\.functions\.from\.mode\.state">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.accelerator"
            pattern=".*\.activities\.from\.mode\.state">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.activitySupport">
      <triggerPointAdvisorProductBinding
            productId="org.polarsys.capella.cybersecurity.rcp.product"
            triggerPointAdvisorId="org.polarsys.capella.core.platform.sirius.ui.TriggerPointAdvisor">
      </triggerPointAdvisorProductBinding>
   </extension>

</plugin>
