<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Cybersecurity -->
      <factory class="org.polarsys.capella.cybersecurity.model.provider.CybersecurityItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/cybersecurity/1.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Cybersecurity -->
      <extender class="org.polarsys.capella.cybersecurity.model.provider.CybersecurityItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension>


<!--@generated-->

<!--@generated-->

<!--@generated-->
</plugin>
